<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title> Upload </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label position="stacked">Workout Name</ion-label>
      <ion-input [(ngModel)]="workout.name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Exercices</ion-label>
      <ion-button slot="end" (click)="addExercice()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item-group
      *ngFor="let exercice of workout.exercices; let i = index"
      lines="full"
    >
      <ion-item-divider lines="full">
        <ion-icon name="barbell" slot="start" class="exercice-icon"></ion-icon>
        <ion-label style="margin-left: 25px;">{{ exercice.name }}</ion-label>
        <ion-icon name="caret-down-outline" slot="end" class="exercice-icon" style="margin-right: 20px;" *ngIf="!toggles[i]" (click)="updateToggle(i)"></ion-icon>
        <ion-icon name="caret-up-outline" slot="end" class="exercice-icon" style="margin-right: 20px;" *ngIf="toggles[i]" (click)="updateToggle(i)"></ion-icon>
      </ion-item-divider>
      <ng-container *ngIf="toggles[i]">
        <ion-item lines="full">
          <ion-input placeholder="Name" [(ngModel)]="exercice.name"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-input placeholder="Sets" [(ngModel)]="exercice.sets" type="number"></ion-input>
        </ion-item>
        <ion-item [lines]="i === workout.exercices.length - 1 ? 'full' : 'none'">
          <ion-input placeholder="Reps" [(ngModel)]="exercice.reps" type="number"></ion-input>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="bg" (click)="submit()">
    <ion-title>Submit</ion-title>
  </ion-toolbar>
</ion-footer>
