<ion-header class="ion-no-border">
    <ion-toolbar class="main" [ngStyle]="{'background': gradients[currentGradientIndex]}">
      <ion-icon (click)="back()" slot="start" name="arrow-back-outline"></ion-icon>
      <ion-title>{{workout.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main" [ngStyle]="{'background': gradients[currentGradientIndex]}">
    <div class="prev-click" (click)="prev()"></div>
    <div class="next-click" (click)="next()"></div>
    <div class="main">
      <span></span>
      <span>{{workout.exercices[currentIndex].name}}</span>
      <span>{{currentIndex + 1}} / {{workout.exercices.length}}</span>
    </div>
  </div>
</ion-content>
