<ion-header>
  <ion-toolbar class="bg">
    <ion-title> Workouts </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      lines="full"
      *ngFor="let workout of workouts; let i = index"
    >
      <span class="item-left-outer" (click)="selectWorkout(workout.id)"><span class="item-left-inner"></span></span>
      <ion-label>{{ workout.name }}</ion-label>
      <ion-icon name="trash" color="danger" slot="end" (click)="deleteWorkout(i)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="uploadNewWorkout()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
